<div class="pricing-header p-3 mb-4 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">Rails Duels</h1>
  <p class="fs-5 text-body-secondary">A thrilling quiz app that pitches Ruby on Rails developers against each other. Through fast-paced questioning, participants enhance their Rails knowledge whilst competing to win by gaining the most points in the least time. A perfect blend of fun, challenge, and learning!</p>

  <%= button_to "Let's duel!", { action: 'create', controller: 'matchmaking' }, method: :post, class: 'btn btn-primary', 'data-bs-toggle': 'modal', 'data-bs-target': '#duel' %>
</div>

<div class="modal" id="duel">
  <div class="modal-dialog modal-dialog-centered">
    <div id="matchmaking_modal"></div>
  </div>
</div>
<h2 class="display-6 text-center mb-4">How it works</h2>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Find Your Match</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">1</h1>
        <p>Pick your difficulty level, begin the matchmaking to locate your challenger, and gear up for a Ruby on Rails quiz face-off.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Score Big</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">2</h1>
        <p>Showcase your Rails skills by answering 5 questions. Be fast, be accurate, and collect as many points as possible.</p>
      </div>
    </div>
  </div>
  <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary border-primary">
          <h4 class="my-0 fw-normal">Rise to the top</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">3</h1>
          <p>Climb higher with each win, show off your RoR skills and your top spot to other developers. Let the duels begin!</p>
        </div>
      </div>
    </div>
</div>
