<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">Rails Duels</h1>
  <p class="fs-5 text-body-secondary">A thrilling quiz app that pitches Ruby on Rails developers against each other. Through fast-paced questioning, participants enhance their Rails knowledge whilst competing to win by gaining the most points in the least time. A perfect blend of fun, challenge, and learning!</p>
</div>
