<div class="tab-pane fade show <%= 'active' if active %>" id="<%= level %>" role="tabpanel" aria-labelledby="<%= level %>-tab">
  <%= turbo_frame_tag "#{level}_leaderboard", src: level_leaderboard_path(level: level) %>
</div>
