<div class="row row-cols-2 mb-3 text-center">
  <div class="offset-3 mb-5">
    <h2 class="mb-3"><u>Leaderboard</u></h2>

    <div class="col">
    <table class="table table-borderless">
      <thead>
      <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Points</th>
        <th>Level</th>
      </tr>
      </thead>
      <% @ranks.each do |rank| %>
      <tr>
        <td><%= rank.rank %></td>
        <td><%= rank.username %></td>
        <td><%= rank.points %></td>
        <td><%= rank.level %></td>
      </tr>
      <% end %>
    </table>
  </div>
  </div>
</div>
