<% if duel.winner %>
  <h1><i class="bi bi-award-fill"></i> <%= duel.winner.username %> won with <%= duel.winner_points %> points</h1>
<% else %>
  <h1><i class="bi bi-award-fill"></i> It's a tie! You both deserve <%= duel.winner_points %> points.</h1>
<% end %>