<div id="custom-duel-<%= duel.id %>-user-<%= user.id %>-points">
  <div class="row">
    <div class="ratings text-center py-4">
      <span class="badge bg-success"><%= duel.user_state(user).points %></span>
      <span class="d-block about-rating">Duel Points</span>
    </div>
  </div>
</div>
