<div id="custom-duel-<%= duel.id %>-participants-progress">
  <div class="row">
    <div class="col-md-12">
      <div class="rating-progress-bars p-3">
        <div class="progress-1 align-items-center">
          <% problems_count = duel.problems.size %>
          <% duel.users.each do |user| %>
            
            <span><%= user.username %></span>
            <% user_state = duel.user_state(user) %>
            <%= custom_duel_progress(problems_count: problems_count,
                                     correct_answers: user_state.correct_answers,
                                     points: user_state.points,
                                     answered_questions: user_state.submissions) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
