<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Finding a match for you
      (<i class="bi bi-people-fill text-success" style="font-size: 1.5rem"></i> <b><%= queue_size %> online</b>)</h5>
  </div>
  <div class="modal-body">
    <div class="mb-3 text-center">
      <div id="match">
        <h4>Initiating matchmaking...</h4>
      </div>
    </div>
  </div>
  <div class="modal-footer" id="cancellation-section">
    <%= button_to 'Cancel',
                  { controller: 'matchmaking', action: 'destroy' },
                  method: :delete,
                  data: { turbo: false },
                  class: 'btn btn-danger'  %>
  </div>
</div>